*.suo
*.user
*.cache
Tutorial/Tutorial/TutorialContent/obj/
Tutorial/Tutorial/Tutorial/bin/
Tutorial/Tutorial/Tutorial/obj/
Tutorial/Tutorial/Tutorial/Tutorial.csproj.Debug.cachefile
*.cachefile
**/bin/*
**/obj/*
